/* ==========================================================================
   Miscellaneous
   ========================================================================== */

@font-face {
    font-family: "Cute Aurora";
    src: url("../fonts/Cute_Aurora.ttf");
}

@font-face {
    font-family: "Dosis";
    src: url("../fonts/Dosis-SemiBold.ttf");
}

@font-face {
    font-family: "Dosis Regular";
    src: url("../fonts/Dosis-Regular.ttf");
}

html {
    background-color:#fcfbfa;
}

/* ==========================================================================
   Header layout
   ========================================================================== */

/**
 * Header
 *
 * It's divided into two parts: banner and top navigation bar.
 *
 * 1. Its width and height are set by media query.
 *
 */

.header {
    margin: 0 auto;
    margin-top: -8px;
    color: white;
    font-family: 'Cute Aurora'; 
}

/**
 * Logo wrapper
 *
 * Its width is set by media query.
 *
 */

 .logo-wrapper {
    margin-left: 540px;
    margin-top: 6px;
    position: absolute;
}

/* ==========================================================================
   Banner
   ========================================================================== */

/**
 * Banner
 *
 * Represents the first half of the header, and its height is set by media query.
 *
 */

.banner {
    background: #c1dee7;
    border-radius: 0px 0px 15px 15px
}

/**
 * Scallop container
 *
 * 1. Holds scallop's both parts together.
 */

.banner .scallop-container {
    height: 90px;
}

.banner .scallop {
    position: relative;
    background: #c2a094;
    padding:22px;
}
  
.banner .scallop::after { 
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content:" ";
    background: 
    radial-gradient(circle at 50% 0%, #c2a094 25%, #c1dee7 26%, #c1dee7 40%);
    background-color: #E26464;
    background-size: 50px 100px;
    height: 50px;
    background-repeat: repeat-x;
}

/**
 * Title wrapper
 *
 * Its width and font size are set by media query.
 *
 */

.banner .title-wrapper {
    position: absolute;
    margin-top: -14px;
    margin-left: 35px;
    font-weight: bold;
}

/**
 * Social media
 *
 */

.banner .social-media {
    margin-top: 70px;
    margin-right: 20px;
    float: right;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
  
.banner .social-media div {
    font-size: 21px;
    font-family: "Dosis";
}
  
.banner .social-media a {
    font-size:20px;
    text-decoration: none;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

.banner .social-media a:hover {
    color: #c2a094;
}

/* ==========================================================================
   Top navigation bar
   ========================================================================== */

/**
 * Topnav
 *
 * Represents the second half of the header.
 *
 * 1. Holds all content of the navigation bar.
 *
 */

.topnav {
    overflow: hidden;
    border-top: 1px solid #b47d50;
    border-bottom: 1px solid #b47d50;
    margin-top: 5px;
    font-family: "Dosis";
}

/**
 * Cart wrapper
 *
 * 1. Aligns the cart <a> + <i> icon.
 *
 */
 
.topnav .cart-wrapper {
     display: flex;
 }

.topnav .cart-wrapper i {
     margin-top: 2px;
     margin-right: 4px;
     font-size: 21px;
 }

/**
 * Span cart, new
 *
 * 1. Set menu's "CART" option font family and weight, so it doesn't affect its font awesome icon.
 * 2. Set menu's "NEW" option's color.
 */

.topnav span.cart {
    font-family: "Dosis";
    font-size: 20px;
}

.topnav .new {
    color: #f3d35a;
}

/**
 * Dropdown
 *
 * 1. Hides and shows dropdown content when top nav's "PRODUCTS" option is hovered.
 *
 */

 .topnav .dropdown a {
    text-decoration: none;
    color: #b47d50;
}

.topnav > a, .topnav .dropdown > a {
    float: left;
    color: #b47d50;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    
}

.topnav > a:hover, .topnav .dropdown > a:hover {
    color: #ecb4bd;
}

/**
 * Dropdown content
 *
 * It's a submenu within dropdown class.
 *
 */

.topnav .dropdown .dropdown-content {
    display: none;
    margin-left: 282px;
    margin-top: 54px;
    text-align: left;
    font-size: 18px;
    position: absolute;
    width: 180px;
    z-index: 1;
    background-color:#fcfbfa;
    border-left: 1px solid #b47d50;
    border-right: 1px solid #b47d50;
    border-bottom: 1px solid #b47d50;
    font-weight: 550;
    padding-bottom: 10px;
}

.topnav .dropdown .dropdown-content a {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #b47d50;
}

.topnav .dropdown .dropdown-content a:hover {
    background-color: #f5e2d0;
}


.topnav .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/* ==========================================================================
   Search box
   ========================================================================== */

/**
 * Search box
 *
 */

.search-box {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 20px;
}

.search-box input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

 .search-box input[type=search] {
    background-color: #f5e2d0;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: "Dosis Regular";
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 70px;
    color: #696765;
}

.search-box input[type=search]:focus {
    outline: 1px solid #c2a094;
}

.search-box ::placeholder {
    font-family:"Dosis Regular";
    font-style: italic;
    color: #8d8b89;
  }

.search-box button {
    text-decoration: none;
    position: fixed;
    font-family:'FontAwesome';
    font-weight: 100px;
    font-size: 18px;
    height: 37px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

.search-box button i {
    font-family:'FontAwesome';
    color: #b47d50;
    font-size: 19px;
}

/* ==========================================================================
   Media queries
   ========================================================================== */

/**
 * Large desktop
 */

@media (min-width: 1025px) {
    .header {
        height: 279px;
        width: 1000px;
    }

    .banner  {
        height: 196px;
    }

    .title-wrapper {
        font-size: 100px;
        width: 492px;
    }

    .logo-wrapper {
        width: 220px;
    }
}